.details-btn {
  background-color: #565454;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  cursor: pointer;
}
.details-btn:hover {
  background-color: black;
}
.cardHover:hover {
  transform: scale(1.03);
  transition: transform 1s;
}
.categoryButton {
  background-color: #00bcd9;
  border: none;
  color: rgb(252, 249, 249);
  padding: 5px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
/* pagination button */
.pagination {
  width: 600px;
  margin: auto;
  box-shadow: 0 5px 20px gray;
  padding: 8px 10px;
}
.pagination button {
  padding: 20px;
  background-color: rgb(73, 71, 73);
  margin: 15px;
  color: white;
  border: 0;
}
.pagination .selected {
  background-color: #00bcd9;
  color: white;
}
.navBg {
  margin: 0 auto;
}
.select {
  width: 250px;
  padding: 5px;
  border: 1px solid #fd5a01;
  border-radius: 5px;
  outline: none;
}
/* blog bar */
.topBlog {
  position: relative;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-weight: 600;
  font-size: 2.7rem;
  text-align: center;
}

.topBlog:after {
  content: "";
  position: absolute;
  background-color: #00bcd9;
  width: 10%;
  height: 4px;
  bottom: -14px;
  left: 45%;
}
@media only screen and (max-width: 600px) {
  .pagination {
    width: 100%;
  }
  .select {
    width: 100%;
  }
}
