.details-btn {
  background-color: #565454;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  cursor: pointer;
}
.details-btn:hover {
  background-color: black;
}
.cardHover:hover {
  transform: scale(1.03);
  transition: transform 1s;
}
.categoryButton {
  background-color: #00bcd9;
  border: none;
  color: rgb(252, 249, 249);
  padding: 5px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
